{% extends 'base_affiliates.html.twig' %}

{% block title %}{{ translations.find(null, 'titulo_cookies').getTranslation() }}{% endblock %}
{% block meta_description %}{{ translations.find(null, 'description_cookies').getTranslation() }}{% endblock %}

{% block content %}
    <div class="container migas">
        <nav class="containerIn">
            <ol itemscope itemtype="https://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ path('affiliates_index_'~ language) }}" title="{{ translations.find(null, 'home').getTranslation() }}">
                        <span itemprop="name">{{ translations.find(null, 'home').getTranslation() }}</span>
                    </a>
                    <meta itemprop="position" content="1">
                </li>
                <li>/</li>
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <strong itemprop="name">{{ translations.find(null, 'cookies_title').getTranslation() }}</strong>
                    <meta itemprop="position" content="2">
                </li>
            </ol>
        </nav>
    </div>

    <article class="container">
        <div class="containerIn">
            <h1 class="hFX">{{ translations.find(null, 'cookies_title').getTranslation() }}</h1>
            <p>{{ translations.find(null, 'cookies_intro').getTranslation() }}</p>
            <p>{{ translations.find(null, 'cookies_automatic_procedures').getTranslation() }}</p>
            <p>{{ translations.find(null, 'cookies_information_collected').getTranslation() }}</p>
            <p>{{ translations.find(null, 'cookies_personal_data').getTranslation() }}</p>

            <p>{{ translations.find(null, 'cookies_disabling_title').getTranslation() }}</p>
            <p>{{ translations.find(null, 'cookies_disabling_description').getTranslation() }}</p>
        </div>
    </article>
{% endblock %}
